USE [master]
GO
/****** Object:  Database [ReactJSDemo]    Script Date: 2024/05/06 11:57:01 ******/
CREATE DATABASE [ReactJSDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReactJSDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ReactJSDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReactJSDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ReactJSDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReactJSDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReactJSDemo]
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 2024/05/06 11:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[IMAGE] [nchar](1000) NOT NULL,
	[URL] [nchar](1000) NOT NULL,
	[ID_CATEGORIES] [int] NOT NULL,
	[PATH] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_PRODUCT]    Script Date: 2024/05/06 11:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](500) NOT NULL,
	[PATH] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_PRODUCT]    Script Date: 2024/05/06 11:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nchar](1000) NULL,
	[ID_PRODUCT] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 2024/05/06 11:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](500) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[URL] [nchar](500) NULL,
	[IMAGE] [nchar](500) NULL,
	[PRICE_OLD] [decimal](18, 0) NULL,
	[PRICE_NEW] [decimal](18, 0) NOT NULL,
	[PRICE_UP] [decimal](18, 0) NULL,
	[DISCOUNT] [int] NULL,
	[STAR] [int] NULL,
	[FAVORITE] [bit] NULL,
	[ID_CATEGORIES] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2024/05/06 11:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NULL,
	[PassWord] [varchar](100) NULL,
	[Name] [nvarchar](1200) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANNER] ON 

SET IDENTITY_INSERT [dbo].[BANNER] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY_PRODUCT] ON 

INSERT [dbo].[CATEGORY_PRODUCT] ([ID], [NAME], [PATH]) VALUES (1, N'Điện thoại', N'mobile')
INSERT [dbo].[CATEGORY_PRODUCT] ([ID], [NAME], [PATH]) VALUES (2, N'Laptop', N'laptop')
INSERT [dbo].[CATEGORY_PRODUCT] ([ID], [NAME], [PATH]) VALUES (3, N'Màn hình', N'man-hinh')
SET IDENTITY_INSERT [dbo].[CATEGORY_PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAIL_PRODUCT] ON 

GO
SET IDENTITY_INSERT [dbo].[DETAIL_PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([Id], [UserName], [PassWord], [Name], [RoleId]) VALUES (11, N'admin', N'1', N'admin', 0)
INSERT [dbo].[USER] ([Id], [UserName], [PassWord], [Name], [RoleId]) VALUES (12, N'user1', N'1', N'user1', 0)
INSERT [dbo].[USER] ([Id], [UserName], [PassWord], [Name], [RoleId]) VALUES (13, N'user2', N'1', N'user2', 0)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
USE [master]
GO
