.cps-footer {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    margin-top: 20px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

article, aside, figure, footer, header, hgroup, section {
    display: block;
}
.cps-footer__top {
    background: #fff !important;
    padding: 15px;
}
.cps-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
@media print, screen and (min-width: 769px) {
    .columns:not(.is-desktop) {
        display: flex;
    }
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}
@media print, screen and (min-width: 769px) {
    .column.is-half, .column.is-half-tablet {
        flex: none;
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    .column.is-one-quarter-desktop {
        flex: none;
        width: 25%;
    }
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
.mb-3 {
    margin-bottom: 0.75rem !important;
}
.cps-footer .title {
    font-size: 16px;
    font-weight: 500;
}
.cps-footer .box-content {
    padding-left: 10px;
}
.cps-footer .list-link {
    list-style: none;
    padding: 0;
}
.cps-footer .list-link .link {
    font-size: 12px;
    margin-bottom: 5px;
}
.cps-footer .list-link .link a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.cps-footer__top .top__box-one .box-one__pay-gate-way .pay-gate-way__content ul li:not(:nth-child(5n)) {
    margin-right: 5px;
}
.cps-footer__top .top__box-one .box-one__pay-gate-way .pay-gate-way__content ul li {
    display: inline-block;
}
.cps-footer .list-link .link {
    font-size: 12px;
    margin-bottom: 5px;
}
.cps-footer .rounded {
    border-radius: 3px !important;
}

.cps-footer .border {
    border: 1px solid #dee2e6;
}

.cps-footer .icon-cps {
    background-repeat: no-repeat;
    background-size: 400px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 50px;
}
a strong {
    color: currentColor;
}

strong {
    color: #363636;
    font-weight: 700;
}
.cps-footer .social-logo {
    margin-bottom: 10px;
    padding-right: 10px;
}
.cps-footer .box-tow__corp-members .corp-member {
    margin-bottom: 5px;
    width: 100%;
}
.cps-footer .box-tow__corp-members .corp-member .corp-member__name {
    color: #3f3f3f;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 5px;
}
.cps-footer .box-tow__corp-members .corp-member a {
    display: inherit;
    line-height: 1;
}
img {
    height: auto;
    max-width: 100%!important;
}
a {
    color: #485fc7;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.cps-footer__bottom {
    background: #f8f8f8;
    min-height: 100px;
    padding: 15px;
}
.cps-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1200px;
}
.cps-footer__bottom .bottom__cms {
    margin-bottom: 5px;
}
@media print, screen and (min-width: 769px) {
    .columns:not(.is-desktop) {
        display: flex;
    }
}
.columns:last-child {
    margin-bottom: -0.75rem;
}

.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}
.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}
span {
    font-style: inherit;
    font-weight: inherit;
}
.cps-footer__bottom .bottom__cms a {
    color: inherit;
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.cps-footer__bottom .bottom__company-information .company-information__address {
    align-items: center;
    justify-content: center;
}
.is-flex {
    display: flex !important;
}
.cps-footer__bottom .bottom__company-information .company-information__address p {
    color: rgba(0,0,0,.5);
    font-size: 10px;
    line-height: 2;
    margin-bottom: 5px;
}
.cps-footer__bottom .bottom__company-information .company-information__certification {
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.cps-footer__bottom .bottom__company-information .company-information__certification .icon-cps-tb {
    background-position: -6px -398px;
    background-size: 500px;
    height: 38px;
    width: 80px;
}
.cps-footer .icon-cps {
    background-repeat: no-repeat;
    background-size: 400px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 50px;
}
.cps-footer__bottom .bottom__company-information .company-information__certification .dmca-badge img {
    height: 20px;
}
.dmca-badge {
    margin-bottom:10px;
}