body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    font-family: sans-serif !important;
}

.cps-page {
    overflow: hidden;
}

#cpsHeader.cps-header.sticky {
    left: 50%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
}

#bannerTopHead {
    background-color: #e9efff;
    padding: 5px;
}

    #bannerTopHead .cps-container {
        box-sizing: border-box;
        display: block;
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 1200px;
    }

        #bannerTopHead .cps-container .swiper-container {
            list-style: none;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            padding: 0;
            position: relative;
            z-index: 1;
        }

#cpsHeader.cps-header {
    background-color: #d70018;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    z-index: 1000;
}

.cps-container {
    max-width: 1200px !important;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.cps-navbar {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
}

.navbar-brand, .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}

    .navbar-brand .navbar-item {
        align-items: center;
        display: flex;
    }

.navbar-item {
    color: #4a4a4a;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

#cpsHeader.cps-header .cps-navbar .logo__desktop svg {
    height: 30px;
    width: 161px;
}

#cpsHeader.cps-header .cps-navbar .header-item {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 42px;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
}

    #cpsHeader.cps-header .cps-navbar .header-item.btn-menu {
        background: hsla(0,0%,100%,.2);
    }

        #cpsHeader.cps-header .cps-navbar .header-item.btn-menu .about__box-icon {
            align-items: center;
            display: flex;
        }

    #cpsHeader.cps-header .cps-navbar .header-item .about__box-icon {
        margin-right: 5px;
    }

    #cpsHeader.cps-header .cps-navbar .header-item.btn-menu .about__box-icon svg {
        height: 20px;
    }

    #cpsHeader.cps-header .cps-navbar .header-item .about__box-icon svg {
        overflow: hidden;
        vertical-align: middle;
    }

.about__box-content {
    line-height: 1;
    width: 60px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0 !important;
}

.cls-1 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.8px;
}

.about__box-content p {
    margin: 0 !important;
}

#menu-main.menu-container {
    display: contents;
}

    #menu-main.menu-container .menu-wrapper {
        left: 10px;
        max-width: 1200px;
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 980;
    }

        #menu-main.menu-container .menu-wrapper .menu-tree {
            background-color: #fff;
            border-radius: 10px;
            left: 0px;
            min-height: 375px;
            overflow: hidden;
            padding: 0;
            top: 0;
            width: 205px;
        }

.box-search {
    width: 200px;
    float: left;
    margin: 0 10px 0 0;
}

.dropdown {
    z-index: 31;
}

.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
}

#dropdown-region.dropdown .box-local-store {
    align-items: center;
    background: hsla(0,0%,100%,.2);
    border-radius: 10px;
    cursor: pointer;
    display: flex !important;
    float: left;
    margin: 0 10px;
    padding: 3px 5px;
    position: relative;
    text-align: center;
    width: 130px;
}

    #dropdown-region.dropdown .box-local-store .box-icon {
        float: left;
        height: 25px;
        margin-right: 5px;
        width: 25px;
    }

#cpsHeader.cps-header .cps-navbar .box-icon {
    text-align: center;
}

    #cpsHeader.cps-header .cps-navbar .box-icon svg {
        fill: #fff;
        font-weight: 700;
        height: 25px;
        margin: 0;
        overflow: hidden;
        vertical-align: middle;
    }

#dropdown-region.dropdown .box-local-store .box-content {
    color: #fff;
    min-width: 75px;
    text-align: left;
}

    #dropdown-region.dropdown .box-local-store .box-content .title {
        color: #fff;
        font-size: 10px;
        line-height: 15px;
    }

    #dropdown-region.dropdown .box-local-store .box-content p {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
    }

span {
    font-style: inherit;
    font-weight: inherit;
}

#cpsHeader.cps-header .cps-navbar .box-search {
    width: 200px;
}

.box-search {
    float: left;
    margin: 0 10px 0 0;
    width: 300px;
}

    .box-search form {
        box-sizing: border-box;
        position: relative;
    }

        .box-search form .cps-group-input {
            background-color: #fff;
            border-radius: 10px;
        }

.is-flex {
    display: flex !important;
}

.box-search form .cps-group-input .input-group-btn button {
    background-color: #fff;
    border: 0;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    color: #707070;
    height: 34px;
}

.pr-0 {
    padding-right: 0 !important;
}

.box-search form .cps-group-input .cps-input {
    border: 0;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    height: 34px;
    outline: none;
    padding: 0.5rem 2rem 0.5rem 0.6rem;
    width: 100%;
}

.box-search form .cps-group-input #btn-close-search {
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    height: 26px;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 31;
}

.box-search form .cps-group-input #search_autocomplete {
    max-width: 400px;
    width: 100vw;
    z-index: 31;
}

.box-search form .cps-group-input .box-search-result {
    background: #fff;
    border-radius: 10px;
    left: 0;
    min-height: 44px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 31;
}

.is-hidden {
    display: none !important;
}

#cpsHeader.cps-header .cps-navbar .header-item {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 42px;
    padding: 3px 5px;
    position: relative;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}

    #cpsHeader.cps-header .cps-navbar .header-item .about__box-icon {
        margin-right: 5px;
    }

        #cpsHeader.cps-header .cps-navbar .header-item .about__box-icon svg {
            overflow: hidden;
            vertical-align: middle;
        }

    #cpsHeader.cps-header .cps-navbar .header-item .about__box-content {
        color: #fff;
        font-size: 12px;
        line-height: 1.5;
    }

        #cpsHeader.cps-header .cps-navbar .header-item .about__box-content .title {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            margin-bottom: 0;
            word-break: inherit;
        }

.title strong {
    color: inherit;
    font-weight: inherit;
}

.cls-1 {
    stroke-width: 1.66px;
}

.cls-2 {
    stroke-width: 1.66px;
}

.cls-3 {
    stroke-width: 1.8px;
}

.cls-2, .cls-3 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#cpsHeader.cps-header .cps-navbar .header-item .about__box-content span#items_in_cart {
    align-items: center;
    bottom: 20%;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    justify-content: center;
    left: 10%;
    position: absolute;
    width: 20px;
    padding-right: 5px;
}

#cpsHeader.cps-header .cps-navbar .login-btn {
    min-width: 70px;
}

#cpsHeader.cps-header .cps-navbar .header-item.about-smember {
    flex-flow: column;
    min-width: 70px;
}

#cpsHeader.cps-header .cps-navbar .header-item.about-smember, #cpsHeader.cps-header .cps-navbar .header-item.btn-menu, #cpsHeader.cps-header .cps-navbar .header-item:hover {
    background: hsla(0,0%,100%,.2);
}

    #cpsHeader.cps-header .cps-navbar .header-item.about-smember .about__box-icon {
        height: 20px;
        margin: auto auto 1px;
    }

#icon-smember .cls-1 {
    fill: none;
    stroke: #fff;
    stroke-width: 30px;
}

#menu-main.menu-container {
    display: contents;
}

    #menu-main.menu-container .menu-wrapper {
        left: 10px;
        max-width: 1200px;
        position: absolute;
        top: 100px;
        width: 100%;
        z-index: 980;
    }

#menu-main.menu-container .menu-wrapper .menu-tree {
    background-color: #fff;
    border-radius: 10px;
    left: 0;
    min-height: 375px;
    overflow: hidden;
    padding: 0;
    top: 0;
    width: 205px;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree {
    display: block;
    padding: 2px 10px;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item {
    align-items: center;
    color: #343a40;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    min-height: 31.3px;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item .right-content {
    align-items: center;
    display: flex;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item i.icons-cate {
    height: 25px;
    margin-right: 5px;
    text-align: center;
    width: 25px;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item a.multiple-link {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #343a40;
    display: -webkit-box;
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item .icon-right {
    width: 7.5px;
}

#menu-main.menu-container .menu-wrapper .menu-tree .label-menu-tree .label-item .icon-right svg {
    fill: #777;
    font-size: 12px;
}

#menu-main.menu-container .menu-wrapper .menu-tree-child {
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
    flex-wrap: wrap;
    left: 200px;
    min-height: 375px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 200px);
    z-index: 990;
}

#cpsHeader.cps-header .cps-navbar .box {
    cursor: pointer;
}

#cpsHeader.cps-header.sticky:has(#bannerTopHead) + .clear {
    padding-top: 104px;
}

#cpsHeader.cps-header.sticky + .clear {
    padding-top: 64px;
}

.header-overlay {
    background: rgba(0,0,0,.53);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 64px;
    transition: .3s;
    visibility: hidden;
    width: 100%;
    z-index: 30;
}

.header-overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu-container-not-display {
    display: none !important;
}

/*Login*/
#modalLogin.modal.is-active {
    display: flex;
}
#modalLogin.modal {
    display: none;
    z-index: 99999;
}

.modal.is-active {
    transform: scale(1);
}

.modal.is-active {
    display: flex;
}

.modal {
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: scale(0);
    width: 100%;
}

.modal {
    padding: 10px;
}

.modal {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    z-index: 40;
}
.hero-video, .image.is-16by9 .has-ratio, .image.is-16by9 img, .image.is-1by1 .has-ratio, .image.is-1by1 img, .image.is-1by2 .has-ratio, .image.is-1by2 img, .image.is-1by3 .has-ratio, .image.is-1by3 img, .image.is-2by1 .has-ratio, .image.is-2by1 img, .image.is-2by3 .has-ratio, .image.is-2by3 img, .image.is-3by1 .has-ratio, .image.is-3by1 img, .image.is-3by2 .has-ratio, .image.is-3by2 img, .image.is-3by4 .has-ratio, .image.is-3by4 img, .image.is-3by5 .has-ratio, .image.is-3by5 img, .image.is-4by3 .has-ratio, .image.is-4by3 img, .image.is-4by5 .has-ratio, .image.is-4by5 img, .image.is-5by3 .has-ratio, .image.is-5by3 img, .image.is-5by4 .has-ratio, .image.is-5by4 img, .image.is-9by16 .has-ratio, .image.is-9by16 img, .image.is-square .has-ratio, .image.is-square img, .is-overlay, .modal, .modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.modal.is-active .modal-background {
    animation: fadeIn .5s cubic-bezier(.165,.84,.44,1) forwards;
    background: transparent;
}
.modal-background {
    background-color: hsla(0,0%,4%,.86)!important;
}
#modalLogin.modal.is-active .modal-login {
    background-color: #fff;
    border-radius: 15px;
    max-width: 350px;
    padding: 15px;
    text-align: center;
}

.modal.is-active .modal-content {
    animation: scaleUp .5s cubic-bezier(.165,.84,.44,1) forwards;
    opacity: 1;
}

@media screen and (min-width: 769px) {
    .modal-card, .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
    }
}

.modal-card, .modal-content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}
#modalLogin.modal.is-active .modal-login .title {
    color: #d70018;
    font-size: 25px;
    margin-bottom: 5px;
}
.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.is-flex {
    display: flex !important;
}

.is-align-items-center {
    align-items: center !important;
}

.is-justify-content-center {
    justify-content: center !important;
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.subtitle, .title {
    word-break: break-word;
}
.mr-2 {
    margin-right: 0.5rem !important;
}

img {
    height: auto;
    max-width: 100%;
}

img, video {
    height: auto;
    max-width: 100%;
}
#modalLogin.modal.is-active .modal-login .text {
    padding-top: 5px;
    text-align: justify;
}
#modalLogin.modal.is-active .modal-login .text p {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
.navbar-burger, blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}
.is-flex {
    display: flex !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.is-justify-content-space-between {
    justify-content: space-between !important;
}
#modalLogin.modal.is-active .modal-login .login-btn {
    background: #d70018;
    border: 0.5px solid hsla(0,0%,47%,.5);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(255,0,0,.2);
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 6px 0;
    text-align: center;
    width: 48%;
}
#modalLogin.modal.is-active .modal-login .register-btn {
    background: #fff;
    border: 0.5px solid #d70018;
    border-radius: 5px;
    color: #d70018;
    cursor: pointer;
    display: block;
    padding: 6px 0;
    text-align: center;
    width: 48%;
}
#modalLogin.modal.is-active .modal-login .modal-close {
    background-color: hsla(0,0%,4%,.2);
    right: 10px;
    top: 10px;
}

.is-medium.delete, .is-medium.modal-close {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    width: 24px;
}

.delete, .modal-close {
    -webkit-touch-callout: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: hsla(0,0%,4%,.2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    pointer-events: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: top;
    width: 20px;
}

.modal-close {
    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
}

body, button, input, optgroup, select, textarea {
    font-family: sans-serif !important;
}

body, button, input, optgroup, select, textarea {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

button, input, select, textarea {
    margin: 0;
}
.delete:before, .modal-close:before {
    height: 2px;
    width: 50%;
}

.delete:after, .delete:before, .modal-close:after, .modal-close:before {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}
.delete:after, .modal-close:after {
    height: 50%;
    width: 2px;
}